:root {
  --bg-main: #f4f1ff;
  --card-bg: #ffffff;
  --primary: #ff4d8d;
  --text-dark: #1f1f1f;
  --text-muted: #7a7a7a;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* Page */
.curved-login-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(rgba(30, 30, 30, 0.4), rgba(30, 30, 30, 0.7)),
    url("https://i.pinimg.com/736x/0e/b1/e1/0eb1e1d464605298ea0fc3d17d7bf8d0.jpg");

  background-size: cover;
  background-position: center;
}

.curved-card {
  backdrop-filter: blur(6px);
}

/* Card */
.curved-card {
  width: 90%;
  max-width: 1100px;
  background: var(--text-dark);
  border-radius: 26px;
  box-shadow: 0 40px 80px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

/* Layout */
.curved-row {
  display: flex;
  min-height: 520px;
}

/* LEFT */
.curved-left {
  flex: 1;
  position: relative;
  padding: 60px;
  color: white;

  background: url("../img/american-football-field.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.curved-left h1 {
  font-size: 46px;
  font-weight: 700;
}

.curved-left p {
  max-width: 320px;
  margin-top: 15px;
  opacity: 0.9;
}

/* RIGHT */
.curved-right {
  flex: 1;
  padding: 60px;
  display: flex;
  align-items: center;
}

.login-form {
  width: 100%;
  max-width: 360px;
}

.login-form h3 {
  font-weight: 600;
  margin-bottom: 10px;
  color: #ddd;
}

.login-form p {
  color: var(--text-muted);
  font-size: 14px;
}

/* Form */
.form-label {
  font-size: 14px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  background-color: #111;
  border-radius: 10px;
  padding: 12px;
  border: 1px solid #222;
}

.country-code {
  color: #888;
  margin-right: 10px;
}

.mobile-input {
  background: transparent;
  border: none;

  color: white;
  width: 100%;
}

.mobile-input::placeholder {
  color: #555;
}

/* Button */
.login-btn {
  width: 100%;
  margin-top: 22px;
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(135deg, #5f5e5f, #585858);
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.login-btn:hover {
  opacity: 0.9;
}

/* Responsive */

/* OTP */
.otp-wrapper {
  display: flex;
  gap: 12px;
  margin: 22px 0;
}

.otp-input {
  width: 74px;
  height: 52px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
}

.otp-input:focus {
  border-color: #2b1d22;
  box-shadow: 0 0 0 2px rgba(255, 77, 141, 0.2);
}

.resend-text {
  color: #ff4d8d;
  cursor: pointer;
  font-weight: 500;
}

@media (max-width: 767px) {
  .curved-left {
    display: none;
  }
  .curved-row {
    flex-direction: column;
  }

  .curved-right {
    padding: 12px;
    justify-content: center;
  }
  .otp-input {
    width: 53px;
  }
  .curved-login-page {
    background-color: black !important;
    background-image: url('../img/american-football-field.jpg');
  }
  .curved-card {
    width: 79%;
     background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

    border: 1px solid rgba(255, 255, 255, 0.25);

    box-shadow:
      0 8px 32px rgba(31, 38, 135, 0.37);

    border-radius: 22px;
  }
}
@media (max-width:500px) {
    .curved-card {
    width: 90%;
    }
    .curved-row {
        min-height: 400px;
    }
}